
 .card-main{
    width: 20vw;
    margin:2rem 3rem 0rem 2rem;
    padding-right: 1rem;
    margin-bottom: -1.2rem;
    transform: translateX(5rem);
}
.card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 10vw;
    text-align: start;
    /* border: 1px solid red; */

}
.btn{
    margin-right: 1rem;
}
i{
    cursor: pointer;
    margin: 1rem;
    margin-top: -.7rem;
}
i:hover{
    color:#766594
}
.card-body .title{
    width: 13vw;
    font-size: 1.3rem;
    line-height: 2rem;
}
.desc{
    line-height: 1rem;
}
.card-item{
    background-color: #FEF7FF;
    width: 20vw;
}

@media (100px <= width <= 280px){
    .card{
    width: 80vw;
    transform: translateX(-6.5rem);
    }
    .btn{
        margin-right: 1rem;
    }
    i{
        display: flex;
        cursor: pointer;
        margin-top: .5rem;
        font-size: .8rem;
    }
 
    .card-body .title{
       font-size: 1rem;
       /* border: 1px solid red; */
       width: 60vw;
    }
    .card-body .desc{
        font-size: .8rem;
    }
    .card-body .tag{
        font-size: .6rem;
        font-weight:700;
    }


}


@media (281px <= width <= 580px){
   
    .card{
    width: 42vw;
    transform: translateX(-6.5rem);
    }
    .btn{
        margin-right: 1rem;
    }
    i{
        display: flex;
        cursor: pointer;
        margin-top: .5rem;
        font-size: .7rem;
    }
 
    .card-body .title{
       font-size: 1rem;
       border: 1px solid red;
       width: 60vw;
    }
    .card-body .desc{
        font-size: .8rem;
    }
    .card-body .tag{
        font-size: .6rem;
        font-weight:700;
    }


}



@media (576px <= width <= 750px){
    .card-main{
        /* border: 1px solid red; */
      }
    .card{
    width:30vw;
    /* margin-right: 1rem; */
    transform: translateX(-3.8rem);
    }
    .btn{
        margin-right: 1rem;
    }
    i{
        display: flex;
        cursor: pointer;
        margin-top:.5rem;
        font-size: .8rem;

    }
 
    .card-body .title{
       font-size: 1rem;
       /* border: 1px solid red; */
       width: 60vw;
    }
    .card-body .desc{
        font-size: .8rem;
    }
    .card-body .tag{
        font-size: .6rem;
        font-weight:700;
    }


}



@media (751px <= width <= 990px){
    .card{
    width:28vw;
    /* margin-right: 1rem; */
    transform: translateX(-1.2rem);
    }
    .btn{
        margin-right: 1rem;
    }
    i{
        display: flex;
        cursor: pointer;
        margin-top:.5rem;
        font-size: .8rem;
    }
 
    .card-body .title{
       font-size: 1rem;
       /* border: 1px solid red; */
       width: 60vw;
    }
    .card-body .desc{
        font-size: .8rem;
    }
    .card-body .tag{
        font-size: .6rem;
        font-weight:700;
    }


}



@media (991px <= width <= 1200px){
    .card{
    width:25vw;
    /* margin-right: 1rem; */
    transform: translateX(-4.8rem);
    }
    .btn{
        margin-right: 1rem;
    }
    i{
        display: flex;
        cursor: pointer;
        margin-top: -.7rem;
        font-size: 1rem;
    }
 
    .card-body .title{
       font-size: 1.3rem;
       /* border: 1px solid red; */
       width: 60vw;
    }
    .card-body .desc{
        font-size: 1.2rem;
    }
    .card-body .tag{
        font-size: .8rem;
        font-weight:700;
    }


}








