
    @media screen and (max-device-width: 2100px)
    and (orientation: landscape) {


        .log{
            position: absolute;  
            left: 0%;  
            transform: translateY(-1rem);
            background-image: url("../../Image/loginimg.jpg");
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat; 
            background-blend-mode:color-burn;
            width: 100vw;
            height: 93vh;
            z-index: -1;
        }
     
        .loginform{
            transform: translateY(14rem);
            width: 30vw;
            height: 40vh;
            z-index: 25;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            border-radius: 2rem;
            backdrop-filter: blur(10px);
        }
        .input{
            width: 20vw;
        }

    }


    @media screen and (max-width: 600px) and (orientation: landscape) {
      
        .log{
         margin-top: 5rem;
            border:1px solid red;  
            /* transform: translateY(15rem); */
             /* background-image: url("../../Image/loginimg.jpg");
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat; 
            background-blend-mode:color-burn;  */
            /* width: 100vw;
            height: 93vh; */
            /* z-index: -1;  */
        }
     
        .loginform{
            /* border: 2px solid red; */
            transform: translateY(14rem);
            width: 30vw;
            height: 40vh;
            z-index: 25;
            border-radius: 2rem;
            backdrop-filter: blur(10px);
        }
        .input{
            width: 20vw;
        }
      }