
        .log{
            position: absolute;  
            left: 0%;  
            transform: translateY(-1rem);
            background-image: url("../../Image/loginimg.jpg");
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat; 
            background-blend-mode:color-burn;
            width: 100vw;
            height: 93vh;
            z-index: -1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
     
        .loginform{
            transform: translateY(14rem);
            width: 30vw;
            height: 40vh;
            z-index: 25;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            border-radius: 2rem;
            backdrop-filter: blur(10px);
          
        }
        .input{
            width: 20vw;
        }

/* ============================ Responsive ===================================== */

@media (100px <= width <= 280px){
    .loginform{
        /* border: 1px solid red; */
        width: 80vw;
        position: absolute;
        top: 20%;
    }
    .login-h{
        font-size: 1.4rem;
        letter-spacing: .2rem;
        margin-bottom: 1.5rem;
    }
    .login-label{
        font-size: 1rem;
    }
    .input{
        width: 65vw;
    }
    .btn-login{
        display: flex;
        justify-content:center;
        align-items: center;
        margin-top: -.5rem;
        font-size: .8rem;
        height: 4vh;
        transform: translateX(.5rem);
        width: 65vw;
    }
}



@media (281px <= width <= 580px){
    .loginform{
        /* border: 1px solid red; */
        width: 70vw;
        position: absolute;
        top: 25%;
        left: 15%;
        height: 45vh;
    }
    .login-h{
        font-size: 1.9rem;
        letter-spacing: .2rem;
        margin-bottom: 1.5rem;
    }
    .login-label{
        font-size: 1.4rem;
    }
    .input{
        width: 60vw;
    }
    .btn-login{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60vw;
        margin-top: -.5rem;
        font-size: 1rem;
        transform: translateX(.5rem);
        height: 4vh;
    }
}



@media (581px <= width <= 800px){
    .loginform{
        /* border: 1px solid red; */
        width: 60vw;
        position: absolute;
        top: 60%;
        left: 20%;
        height: 50vh;

    }
    .login-h{
        font-size: 2.2rem;
        letter-spacing: .2rem;
        margin-bottom: 1.5rem;
        margin-top: -1rem;
    }
    .login-label{
        font-size: 1.6rem;
    }
    .input{
        width: 50vw;
        height: 5vh;
        font-size: 1.4rem;
    }
    .btn-login{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
        margin-top: -.5rem;
        font-size: 1.3rem;
        transform: translateX(.5rem);
        height: 5vh;
    }
}

@media (801px <= width <= 992px){
    .loginform{
        /* border: 1px solid red; */
        width: 50vw;
        position: absolute;
        top: 60%;
        left: 25%;
        height: 50vh;

    }
    .login-h{
        font-size: 2.5rem;
        letter-spacing: .2rem;
        margin-bottom: 1.5rem;
    }
    .login-label{
        font-size: 1.5rem;
    }
    .input{
        width: 36vw;
        font-size: 1.3rem;
        height: 5vh;
    }
    .btn-login{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36vw;
        margin-top: -.5rem;
        font-size: 1.2rem;
        transform: translateX(.5rem);
        height: 5vh;
    }
}


@media (993px <= width <=1700px){
    .loginform{
        /* border: 1px solid red; */
        width: 50vw;
        position: absolute;
        top: -15%;
        left: 25%;
        height: 60vh;

    }
    .login-h{
        font-size: 2.5rem;
        letter-spacing: .2rem;
        margin-bottom: 1.5rem;
    }
    .login-label{
        font-size: 1.8rem;
    }
    .input{
        width: 36vw;
        font-size: 1.4rem;
        height: 5vh;
    }
    .btn-login{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36vw;
        margin-top: -.5rem;
        font-size: 1.4rem;
        transform: translateX(.5rem);
        height: 6vh;
    }
}