
    .main-sign{
        position: absolute;
        left: 0%;
        /* transform: translateX(2rem); */
        background-image: url("./../../Image/Sign.jpg");
        background-size:cover;
        background-position:right;
        background-repeat: no-repeat;
        width: 100vw; 
         height: 92.3vh;
        z-index: -1;
       /* border: 1px solid red; */
    }
    .signCont{
        text-align: start;
        /* border: 2px solid red; */
        border-radius: 1.5rem;
        position: absolute;
        top: 20%;
        right: 3%;
        width: 30vw;
        height: 60vh;
        padding: 1.5rem;
        font-size: 1.3rem;
        font-weight:500;
        backdrop-filter:blur(10px);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
    .sign-h{
        font-size: 1.8rem;
        margin-bottom: 1rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

@media (100px <= width <= 280px){
 
    .signCont{
        position: absolute;
        left: 0%;
        /* top: 0%; */
        width: 90vw;
        margin: 1rem;
    }
    .signCont input{
        font-size: .8rem;
    }
    .sign-h{
      font-size: 1.6rem;
      margin-top: -1rem;
    }   
    .sign-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 72vw;
        height: 5vh;
    }
}


@media (281px <= width <= 580px){
 
    .signCont{
        position: absolute;
        left: 15%;
        /* top: 0%; */
        width: 60vw;
        margin: 1rem;
    }
    .signCont input{
        font-size: .8rem;
    }
    .sign-h{
      font-size: 1.6rem;
      margin-top: -1rem;
    }   
    .sign-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 5vh;
    }
}


@media (581px <= width <= 780px){
 
    .signCont{
        position: absolute;
        left: 20%;
        /* top: 0%; */
        width: 55vw;
        margin: 1rem;
    }
    .signCont input{
        font-size: .8rem;
    }
    .sign-h{
      font-size: 1.6rem;
      margin-top: -1rem;
    }   
    .sign-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 47vw;
        height: 5vh;
    }
}

@media (781px <= width <= 980px){
 
    .signCont{
        position: absolute;
        left: 25%;
        /* top: 0%; */
        width: 45vw;
        margin: 1rem;
    }
    .signCont input{
        font-size: .8rem;
    }
    .sign-h{
      font-size: 1.6rem;
      margin-top: -1rem;
    }   
    .sign-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 39vw;
        height: 5vh;
    }
}
@media (981px <= width <= 1280px){
 
    .signCont{
        position: absolute;
        /* left: 25%; */
        right: 0%;
        width: 35vw;
        margin: 1rem;
    }
    .signCont input{
        font-size: .8rem;
    }
    .sign-h{
      font-size: 1.6rem;
      margin-top: -1rem;
    }   
    .sign-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30.5vw;
        height: 5vh;
    }
}


@media (1281px <= width <= 1780px){
 
    .signCont{
        position: absolute;
        /* left: 25%; */
        right: 0%;
        width: 33vw;
        margin: 1rem;
    }
    .signCont input{
        font-size: 1rem;
    }
    .sign-h{
      font-size: 1.8rem;
      margin-top: -1rem;
    }   
    .sign-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30.5vw;
        height: 5vh;
    }
}