.App {
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn{
  -webkit-transition: all .3s ;
}
.btn:hover{
  background-image: linear-gradient(to right top, #945bc3, #845ec4, #7461c3, #6363c2, #5164bf, #4b6bc4, #4472c8, #3e78cb, #4586d7, #4c95e4, #55a3ef, #5fb2fb);
cursor: pointer;
border: .5px solid white;
-webkit-transform: rotate(360deg) scale(1.2);
text-size-adjust: inherit;
overflow: hidden;
}
